.sidebarContainer {
    background: linear-gradient(135deg, #3878ef, #9ab7ea);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 20px;
    width: 200px;
    height: 93vh;
}

.listContainer {
    list-style: none;
    padding: 0;
    margin: 0;
}


.listContainer li {
    margin-bottom: 10px;
}


.sidebarlink {
    display: block;
    padding: 12px 15px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}


.sidebarlink:hover {
    border-bottom: 1px solid black;
    transform: translateY(5px);
}

.active {
    background: #4bbef8;
    color: #000;
    border-radius: 5px;
}