.kg-img {
    height: 100px;
    width: 200px;
}

.nav-clr {
    background-color: #ff8b2b;
    height: 105px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 6px 10px 0px black;
}

.cust-btn {
    background-color: #FF6F00;
    color: white;
    border: none;
    box-shadow: 1px 1px 10px 0px black
}

.cust-btn:hover {
    background-color: #8E0000;
    transform: scale(1.07);
}

