.btn-color {
    background-color: #ED3C18;
    border-radius: 10px;
    box-shadow: -1px 2px 15px 4px black;
}

img {
    width: 200px;
    height: 99px;
    background-color: #EB5F44;
}

.custom-color {
    background-color: #EB5F44;
}

.kg-fs {
    font-size: 20px;
}

.custom-navbar {
    height: 100px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: -1px 2px 15px 4px black;
}

.cust-form {
    width: 50%;
    justify-content: center;
}
.cust-input{
    border-radius: 25px;
    width: 500px;
}